{% layout 'layout.liquid'%}
{% block content %}
    <div class="container-md">
        <h2 class="display-6">Banh Mi</h2>
        <div class="row">
            {% for banhmi in banhmis %}
                <div class="card me-3 mb-3" style="width: 18rem;">
                    
                    <h5 class="card-header">{{ banhmi.viet }}</h5>
                    <div class="card-body">
                        <h5 class="card-title">
                        {{ banhmi.english }}
                        </h5>
                        <p class="card-text me-3">
                            <b>Includes:</b> 
                            {% for item in banhmi.includes limit: banhmi.includes.length %}
                                {{ item }}, 
                            {% endfor %}
                        </p>
                        <p class="card-text">
                            ${{ banhmi.price }} 
                        </p>
                        
                        <form action="addToCart" method="POST">
                            <button type="submit" class="btn btn-success mb-1">Add to Cart</button>
                        </form>
                       
                        <a href="/banhmis/{{ banhmi.id }}" class="btn btn-secondary">Reviews</a>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}