{% layout 'layout.liquid'%}
{% block content %}
    <div class="container-md">
        <h1 class="display-6">Banh Mi</h1>
        <div class="row">
            {% for banhmi in banhmis %}
                <div class="card text-bg-danger me-3 mb-3" style="width: 18rem;">
                    <h5 class="card-header">{{ banhmi.viet }}</h5>
                    <div class="card-body">
                        <h5 class="card-title">
                        {{ banhmi.english }}
                        </h5>
                        <p class="card-text me-3">
                            <b>Includes:</b> 
                            {% for item in banhmi.includes limit: banhmi.includes.length %}
                                {{ item }}, 
                            {% endfor %}
                        </p>
                        <p class="card-text">
                            ${{ banhmi.price }} 
                        </p>

                        <form action="/cart/{{ banhmi.id }}" method="POST">
                            <fieldset>
                                <input type="hidden" name="banhmiId" value=" {{ banhmi.id }}">
                            </fieldset>
                            <input type="submit" class="btn btn-success mb-1" value="Add to Cart">
                        </form>

                        <form action="/favorites" method="POST">
                            <fieldset>
                                <input type="hidden" name="banhmiId" value=" {{ banhmi.id }}">
                                <input type="hidden" name="viet" value="{{ banhmi.viet }}">
                                <input type="hidden" name="english" value="{{ banhmi.english }}">
                                <input type="hidden" name="includes" value="{{ banhmi.includes }}">
                                <input type="hidden" name="price" value="{{ banhmi.price }}">
                            </fieldset>
                            <input type="submit" class="btn btn-warning mb-1" value="Favorites">
                        </form>
                        <a href="/banhmis/{{ banhmi.id }}" class="btn btn-secondary">Reviews</a>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}