{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <h2 class="card-header mt-5">{{ banhmi.viet }}</h2>
        <div class="card-body">
            <h5 class="card-title">{{ banhmi.english }}</h5>
            <p class="card-text me-3">
                <b>Includes:</b> 
                {% for item in banhmi.includes limit: banhmi.includes.length %}
                    {{ item }}, 
                {% endfor %}
            </p>
            <p class="card-text">
                ${{ banhmi.price }} 
            </p>
            <hr>
            <div class="btn-group">
                <a href="/banhmis/edit/{{banhmi.id}}" class="btn btn-primary">Edit {{banhmi.viet}}</a>
                
                <form action="/banhmis/{{banhmi.id}}?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete {{banhmi.viet}}">
                </form>
            </div>
            
            <hr>
        <form action="/reviews/{{ banhmi.id }}" method="POST">
            <fieldset>
                <legend>Add Review</legend>
                <label class="form-label">Rating: 1 - 5</label>
                <input type="number" name="rating" class="form-control mb-2">
                <label class="form-label">Review:</label>
                <input type="text" name="note" class="form-control mb-2">
            </fieldset>
            <input type="submit" class="btn btn-success" value="add review">
        </form>
            
            <hr>
            {% if banhmi.reviews.length > 0 %}
                {% for review in banhmi.reviews %}
                    {% render '../review.liquid', rating: rating, review: review, userId: userId, banhmi: banhmi %}
                {% endfor %}

            {% else %}
                <small>no reviews yet...</small>
            {% endif %}
        </div>
</div>
{% endblock %}